<mat-tab-group animationDuration="200ms" class="sticky-tabs">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">edit_calendar</mat-icon> Planning
    </ng-template>
    <div class="tab-content">
      <app-upcoming></app-upcoming>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">library_music</mat-icon> Library
    </ng-template>
    <div class="tab-content">
      <app-library></app-library>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">assignment_late</mat-icon> Outstanding
    </ng-template>
    <div class="tab-content">
      <app-outstanding></app-outstanding>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">list_alt</mat-icon> Jobs
    </ng-template>
    <div class="tab-content">
      <app-jobs></app-jobs>
    </div>
  </mat-tab>

</mat-tab-group>
